<section class="container">
    <h2 class="display-3">Users</h2>

    <div *ngFor="let user of users" 
        class="col-lg-3 col-md-4 col-sm-6 float-left">
        <div class="media">
            <a class="d-flex align-self-bottom" [routerLink]="['/users/' + user._id]">
                <img [src]="service.avatarURL(user._id)">
            </a>
            <div class="media-body">
                <h5><a [routerLink]="['/users/' + user._id]">{{ user.username }}</a></h5>
                <p>{{ user.tags }}</p>
            </div>
        </div>
    </div>
</section>