<section class="container">
    <h2 class="display-3">Edit Profile</h2>
    <p class="lead">{{ profile.username }}</p>
    <hr>
    <form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(f.value)">
        <div [formGroup]="general"
            class="form-group">
            <div class="form-group">
                <label for="username">Username</label>
                <button (click)="generateUsername()"
                    class="btn btn-default float-right" type="button">Generate</button>
                <input formControlName="username" [value]="profile.username"
                    id="username" type="text" class="form-control" autocomplete="username">
                <div *ngIf="username.pending"><i class="fas fa-circle-notch fa-spin"></i> Checking</div>
                <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                    <div *ngIf="username.errors.required">Username is required.</div>
                    <div *ngIf="username.errors.minlength">Username should be minimum {{ username.errors.minlength.requiredLength }} characters</div>
                    <div *ngIf="username.errors.shouldBeUnique">Username is already taken.</div>
                    <div *ngIf="username.errors.pattern">Username should be alphanumeric and can contain dashes or underscores.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea formControlName="bio"
                    type="text" id="bio" class="form-control">{{ profile.bio }}</textarea>
            </div>
            <div class="form-group">
                <label for="avatar">Avatar</label>
                <input formControlName="avatar" (change)="onFileSelected($event)"
                    type="file" id="avatar" class="form-control">
            </div>
            <div class="form-group">
                <label for="bio">Tags</label>
                <select formControlName="tags"
                    type="text" id="tags" class="form-control" multiple>
                    <option *ngFor="let tag of allTags" [value]="tag.name" size="3">{{ tag.name }}</option>
                </select>
            </div>
        </div>
        <hr>
        <div [formGroup]="security"
            class="form-group">
            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password"
                    id="password" type="password" class="form-control" autocomplete="new-password">
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                    <div *ngIf="password.errors.required">Password is required.</div>
                    <div *ngIf="password.errors.minlength">Password should be minimum {{ password.errors.minlength.requiredLength }} characters.</div>
                    <div *ngIf="password.errors.pattern?.requiredPattern === '/(?=.*[a-z])/gm'">Password should include lowercase characters.</div>
                    <div *ngIf="password.errors.pattern?.requiredPattern === '/(?=.*[A-Z])/gm'">Password should include uppercase characters.</div>
                    <div *ngIf="password.errors.pattern?.requiredPattern === '/(?=.*[0-9])/gm'">Password should include numbers.</div>
                    <div *ngIf="password.errors.pattern?.requiredPattern === '/(?=.*[!@#$%^&*])/gm'">Password should include symbols.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input formControlName="confirmPassword"
                    id="confirmPassword" type="password" class="form-control" autocomplete="new-password">
                <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">Confirm Password is required.</div>
                </div>
                <div *ngIf="confirmPassword.touched && f.errors?.passwordsDoNotMatch" class="alert alert-danger">
                    Passwords should match.
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    <!-- </form> -->
<!-- </section> -->