<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #e3f2fd;">
    <a class="navbar-brand" routerLink="/">
        <i class="fas fa-cat"></i> Kitten<strong>Overflow</strong>
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/posts">Posts</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/tags">Tags</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/users">Users</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li *ngIf="!user"
            class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="user" 
            class="nav-item">
            <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
    </ul>
</nav>